.backgroundStyle1{
    padding:50px 10px;   /* buttom , left */
    transform:skew(0deg, -15deg) ; 
    background:#FFB851; 
    margin-top:-60px
   
}
.backgroundStyle2{
    padding:45px 30px;   /* buttom , left */
    transform:skew(0deg, -20deg); 
    background: #FF4E00;
    margin-top:-110px
}
.backgroundStyle3{
    padding:30px 20%;   /* buttom , left */
    transform:skew(0deg, -15deg) ; 
    background:#FFB851; 
    margin-top:16%;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}
.backgroundStyle4{
    padding:25% 100%;  /* buttom , left */
    transform:skew(0deg, -24deg); 
    background: #FF4E00;
    width: 100%;
    margin-top: -46%;
}

.containerStyle{
    text-align: center;
}
.logoStyle{
    height: 80%;
    width: 80%;
    text-align: center;
}
.buttonStyle{
    border: none;
    background-color: black;
    color: white;
    transform:skew(0deg, -10deg); 
    width: 70%;
    margin-top: 7%;

}
.linkStyle{ 
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

.container{
    height: 10%;
    overflow: hidden;
}

.box{
    height: 100%;
    width: 100%;
}