flask
python-dotenv
sqlalchemy
flask-sqlalchemy
pymysql
flask-migrate
flask-login
flask-marshmallow
marshmallow-sqlalchemy
flask-cors
flask-jwt-extended
flask-socketio
eventlet
opencv-python
mediapipe
numpy